In [7]:
Text="I am learning NLP"

In [8]:
import pandas as pd
pd.get_dummies(Text.split())

       I    NLP     am  learning
0   True  False  False     False
1  False  False   True     False
2  False  False  False      True
3  False   True  False     False

In [11]:
text = ["i love NLP and i will learn NLP in 2month"]

In [14]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
vectorizer.fit(text)
vector=vectorizer.transform(text)

In [15]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2month': 0}
[[1 1 1 1 1 2 1]]

In [16]:
df = pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out() )
df

   2month  and  in  learn  love  nlp  will
0       1    1   1      1     1    2     1

In [17]:
text='I am learning NLP'

In [18]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [19]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [20]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [21]:
TextBlob(text).ngrams(4)

[WordList(['I', 'am', 'learning', 'NLP'])]

In [22]:
Text = ["The quick brown fox jumped over the lazy dog.", "The dog.", "The fox"]

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(Text)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 7, 'quick': 6, 'brown': 0, 'fox': 2, 'jumped': 3, 'over': 5, 'lazy': 4, 'dog': 1}
[1.69314718 1.28768207 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.        ]